.service_show_wrapper
  .service
    .service_title_box
      %h1#service_name= @service.name
    .service_location_contact
      .service_link
        = link_to "#{@service.website}"
      %h3= @service.location
      %h3= @service.phone

  .service_map
    = render partial: "services/map"
.service_description
  .description
    %p= @service.description
  .offered_services
    %p= @service.offered_services
